{% extends "BriefIt/base.html" %}
{% block content %}

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">About Us</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Autem recusandae necessitatibus eum illum odio cum eaque 
                    rerum quia amet aliquam pariatur possimus consequuntur ut
                    dolores tenetur, ratione impedit quaerat quas!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Distinctio, sit ipsa cupiditate eos maiores natus deleniti 
                    ad, quis suscipit alias et commodi nisi iure in fugit 
                    possimus mollitia sapiente aspernatur.
                </p>
            </article>
            
            <aside id="sidebar">
                <div class="dark">
                    <h3>What we do</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Distinctio, sit ipsa cupiditate eos maiores natus deleniti 
                        ad, quis suscipit alias et commodi nisi iure in fugit 
                        possimus mollitia sapiente aspernatur.
                    </p>
                </div>
            </aside>
        </div>
    </section>

{% endblock %}